.main{
    display: flex;
    padding: 5x 10px;
    margin-bottom: 10px;
    span{
        margin-right: 15px;
        display: inline-block;
        opacity: 0.8;
    }
    &:hover{
        background-color: rgba(19, 6, 6, 0.5);
        cursor: pointer;
    }
    &:hover .icon{
        color: red;
    }
    &.selected{
        background-color: rgba(8, 6, 6, 0.5);
        .icon{
            color: red;
        }
    }
    
}